<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1088242086856-qkqvlifva4uvrkjmh13j012idupd5e3o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1088242086856-qkqvlifva4uvrkjmh13j012idupd5e3o</string>
	<key>API_KEY</key>
	<string>AIzaSyBQkYVabd_dY8MKnJWC5IsXuKU6LRYS3kw</string>
	<key>GCM_SENDER_ID</key>
	<string>1088242086856</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jp.Thata.sbselector</string>
	<key>PROJECT_ID</key>
	<string>sbselector-app</string>
	<key>STORAGE_BUCKET</key>
	<string>sbselector-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1088242086856:ios:f70587817c9c4e1eaf06fd</string>
</dict>
</plist>